/* Add smooth scrolling to the page */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: sans-serif;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 1s ease;
}

.gallery-title {
  display: flex;
  position: relative;
  color: #f3f3f3;
  background-image: linear-gradient(
    75deg,
    hsl(260deg 72% 50%) 0%,
    hsl(265deg 77% 50%) 20%,
    hsl(270deg 83% 50%) 29%,
    hsl(275deg 89% 50%) 36%,
    hsl(279deg 95% 50%) 43%,
    hsl(284deg 100% 50%) 50%,
    hsl(283deg 95% 55%) 57%,
    hsl(282deg 89% 61%) 64%,
    hsl(280deg 84% 66%) 71%,
    hsl(279deg 78% 71%) 80%,
    hsl(278deg 73% 77%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 900;
  font-size: clamp(2.49rem, 0.5rem + 9.96vw, 7.59rem);
  max-width: 21ch;
  line-height: 1.1;
  margin: 0 auto;
  width: 100vw;
  align-items: center;
  height: 84vh;
  padding: 0 20px; /* Adds space on the left and right sides */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.gallery {
  column-gap: 0;
  padding: 0.25rem; /* Increase padding on the sides */
  width: (100vw - 0.5rem);
  border-bottom: 0px solid #050908;
}

@media (min-width: 480px) {
  .gallery {
    column-count: 2;
  }
}

@media (min-width: 1260px) {
  .gallery {
    column-count: 3;
  }
}

.gallery-image {
  position: relative;
  margin: 0;
  padding: 0.25rem;
}

.gallery-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-image-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: rgba(255, 255, 255, 0);
  padding: 1em;
  transition: all 0.2s ease;
  font-weight: 600;
  text-align: center;
}

.gallery-image:hover .gallery-image-caption {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

/* CODE FOR MOVING ARROW */
.moving {
  animation: animated 1s ease-in-out infinite;
  color: white;
}

@keyframes animated {
  0%,
  100% {
      transform: translate(0, 0);
  }

  50% {
      transform: translate(0, 5px);
  }
}

/* CODE FOR LIGHT & DARK MODE */
.svg-checkbox {
  display: none;
}

.svg-label {
  cursor: pointer;
}

.svg-label svg {
  width: 100px;
  height: 100px;
}

/* When the checkbox is checked, show the glasses SVG */
.svg-checkbox:checked + .svg-label .glasses {
  display: block;
}

.svg-checkbox:checked + .svg-label .sunglasses {
  display: none;
}

/* When the checkbox is unchecked, show the sunglasses SVG */
.svg-checkbox:not(:checked) + .svg-label .glasses {
  display: none;
}

.svg-checkbox:not(:checked) + .svg-label .sunglasses {
  display: block;
}

/* NAVBAR */
#theheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  font-family: "Oswald";
  background-color: #ffffff;
  transition: background-color 1s ease;
  padding: 0 20px; /* Adds space on the left and right sides */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  width: 100%; /* Makes the header span the full width */
  max-width: 100vw; /* Prevents overflow */
}

#logo {
  font-size: 2em;
  margin: 0;
  text-decoration: none;
  color: #050908;
  transition: 0.5s all;
  cursor: default;
}

#current {
  color: #ff4629;
  border-bottom: 3px solid #333;
}

.icons {
  display: flex;
  gap: 1em;
}

.icon {
  display: inline-block;
  transition: 0.5s all;
}

.icon svg {
  width: 24px;
  height: 24px;
  fill: none;
  transition: 0.5s all;
}

.icon-checkbox {
  display: none;
}

.icon-label {
  cursor: pointer;
}

.icon-label svg {
  width: 24px;
  height: 24px;
}

/* When the checkbox is checked, show the first icon */
.icon-checkbox:checked + .icon-label .first-icon {
  display: block;
}

.icon-checkbox:checked + .icon-label .second-icon {
  display: none;
}

/* When the checkbox is unchecked, show the second icon */
.icon-checkbox:not(:checked) + .icon-label .first-icon {
  display: none;
}

.icon-checkbox:not(:checked) + .icon-label .second-icon {
  display: block;
}

/* DOWN ARROW */
#downarrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 8vh;
  font-family: "Oswald";
  transition: background-color 1s ease;
}

/* FOOTER */
#site-footer {
  padding: 2rem 0;
  background-color: #ffffff; /* Dark background to match your theme */
  color: #050908; /* Light text color */
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

#site-footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

#site-footer .social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

#site-footer .social li {
  display: inline-block;
  margin: 0 0.5rem;
}

#site-footer .social li a {
  color: #ff4629;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

#site-footer .social li a:hover {
  color: #f3f3f3;
}

#site-footer .credits {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 5rem;
}

#site-footer .credits a {
  color: #ff4629;
  text-decoration: none;
  transition: color 0.3s ease;
}

#site-footer .credits a:hover {
  color: #f3f3f3;
}

@media (max-width: 768px) {
  #site-footer .credits {
    font-size: 0.9rem;
  }
}

/* UP ARROW IN FOOTER */
.up-arrow {
  display: flex;
  justify-content: center;
  padding: 0;
}

#up-arrow {
  fill: #050908;
  transition: fill 0.3s ease;
}
